.container {
  width: 10.9vw;
  height: 10.9vw;
  position: absolute;
}

.item_bg {
  width: 10.9vw;
  height: 10.9vw;
}

.container span {
  font-size: 8vw;
  text-align: center;
  width: 10.9vw;
  height: 10.9vw;
  position: absolute;
  top: 0;
  left: 0;
}